body{
    background-color: rgb(11, 12, 46);
}


#navBar{
    background-color: #481A5C;
}
#img-productos {
    display: grid;
    gap: 2%;
    padding: 5% 2%;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}


#navbarSupportedContent a{
    color: white !important;
}


.bi-brightness-high{
    color: white;
}


.card-body{
    color: white;
}

.btn-sections {
    border-radius: 10px !important;
    border: 2px solid white;
}

.card-body{
    margin-top: 20px !important;
    color: white;
}

.contenido-reducido{
    border-radius: 10px;
}
#img-productos {
    display: grid;
    gap: 2%;
    padding: 5% 2%;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}
/* MEDIAQUERIES */
@media screen and (max-width: 1280px) {
    #img-productos {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media screen and (max-width: 850px) {
    #img-productos {
        grid-template-columns: repeat(1, 1fr) !important;
        margin-bottom: 50px !important;
    }
}