#cards-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem;
}

.container .card{
    background-color: #a155d33a;
    color: white;
}

.btn-card{
    background-color: none;
    border: solid 1px rgb(240, 180, 255);
    color: rgb(240, 180, 255);
}

.btn-card:hover{
    box-shadow: 0px 0px 10px white;
    border: solid 1px rgb(240, 180, 255);
    color: rgb(252, 99, 188);
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#exampleModalLabel, #exampleModalLabel form{
    color: black;
}

.form-label,.modal-body{
    color:black
}
