
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 0;
}

#title-products{
    text-align: center;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

/* CARDS DE PRODUCTOS */
#cards-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.container .card{
    background-color: #a155d33a;
    color: white;
}

.btn-card{
    background-color: none;
    border: solid 1px rgb(240, 180, 255);
    color: rgb(240, 180, 255);
}

.btn-card:hover{
    box-shadow: 0px 0px 10px white;
    border: solid 1px rgb(240, 180, 255);
    color: rgb(252, 99, 188);
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
.card-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 20px;
}
.card{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

/* Pagination section */

#paginationNav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-item a{
    background-color: #36124b;
    border: solid 1px #F0B4FF;
    color: #F0B4FF;
}
.page-item a:hover{
    background-color: #F0B4FF;
    color: #36124b;
}

.page-item a:focus{
    background-color: #F0B4FF;
    color: #36124b62;
}
/*ESTILOS ADMIN*/
#contenedor-edit{
    position: relative;
}
.bi-pencil{
    color: pink;
    font-size: 18px;
}
.bi-trash{
    color: red;
    display: flex;
    align-items: end;
    font-size: 25px;
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 5px;
}
.bi.bi-pencil::before{
    margin-bottom: 25px;
}
span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.edit{
    background: none;
    border: none;
    cursor: pointer;
}
/* MEDIA QUERIES */
@media (max-width: 575px) {
    #cards-container .card-wrapper {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0px 5px;
    }
}



