*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(11, 12, 46);
    color: white ;
}

/* NAVBAR  */
#img-logo{
    width: 350px;
    margin-right: 30px;
}
.navbar-expand-lg{
    background-color: #481A5C;
}

#navBar{
    border: solid red 2px;
}

#navbarSupportedContent a{
    color: white !important;
}


#navbarSupportedContent{
    border: solid red 2px;
}

/* SECCION IMAGENES DE PRODUCTOS */
#img-productos{
    display: flex;
    gap: 50px;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

#img-productos a img{
    width: 100%;
}

