<header id="header-container">
    <nav class="navbar navbar-expand-xl" id="navBar">
        <div class="container-fluid">
            <a class="navbar-brand" href="./index.html"><img id="img-logo" src="./img/Blue Illustration Game Presentation-Photoroom.png" alt=""></a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
                id="togglerBar">
                <i class="bi bi-list" id="toggle-bars"></i>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="listNavBar">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./productos.html?categoria=procesadores">Procesadores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./productos.html?categoria=placas">Placas de video</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./productos.html?categoria=memorias">Memorias RAM</a>
                    </li>
                </ul>
                <input id="prueba" type="checkbox" style="display: none">
                <button id="btn-modo" class="btn"><i class="bi bi-brightness-high"></i></button>
                <a href="./login.html" class="btn" type="button" id="loginButton">Login</a>
                <a id="link-carrito" href="/carrito.html"><i class="bi bi-cart2"></i></a>
            </div>
        </div>
    </nav>
</header>